<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tmux.conf</title>
    <script src="https://dotfiles.starikov.io/template/analytics.js"></script>
</head>
<body>
    <script src="https://emgithub.com/embed-v2.js?target=https%3A%2F%2Fgithub.com%2FIllyaStarikov%2F.dotfiles%2Fblob%2Fmaster%2Fsrc%2Ftmux.conf&style=default&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></script>
</body>
</html>

