[submodule ".dotfiles.private"]
	path = .dotfiles.private
	url = git@github.com:IllyaStarikov/.dotfiles.private.git
[submodule "styleguide"]
	path = styleguide
	url = https://github.com/google/styleguide.git
	branch = gh-pages
[submodule "src/submodules/google-styleguide"]
	path = src/submodules/google-styleguide
	url = https://github.com/google/styleguide.git
	branch = gh-pages
